.footer {
  color: white;
  /* To make the text white */
  font-weight: bold;
  /* To make the text bold */
  text-align: center;
  /* To center-align the text */
  font-family: 'quark-light', sans-serif;
}