@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.king {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(245, 189, 46);
}
