@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Black.ttf') format('truetype'),
        url('./fonts/Montserrat-ExtraLight.ttf') format('truetype'),
        url('./fonts/Montserrat-Bold.ttf') format('truetype');

}

/*Splitting the whole segment in two side : left & right */

.articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* LEFT SIDE */

.left-article {
    background-color: black;
    font-family: 'Montserrat-ExtraLight';
}
/* Style for the container div */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for each individual div */
.box {
    width: 30%;
    height: 105px;
    border: 1px solid #dfb7b7;
    box-sizing: border-box;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
}

/* Style for the merged box */
.merged-box {
    width: 60%; /* Adjust as needed to accommodate the merged box */
}

/* Style for each row */
.row {
    display: flex;
    justify-content: right;
    width: 100%;
}

/* Remove margin from the <p> elements inside .box */
.box p {
    margin: 0;
}


/* All the Writing of the Left Side */

.stats-title {
    font-size: 26px;
    text-align: center;
    color: white;
    margin-left: 250px;
    /* Adjust the margin to move the stats section towards the right */
}

.stats {
    font-size: 70px;
    text-align: center;
    color: white;
    margin-bottom: 1px;
    /* Add margin between stat and description */
}

.description {
    font-size: 14px;
    text-align: center;
    color: white;
    width: 170px;
    /* Adjust the width as needed */

}



/* RIGHT SIDE */


.right-article {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-article img {
    width: 100%;
    /* Set the width to 100% of the parent container */
    max-width: 320px;
    /* Set a maximum width for the image to control its size */
    height: auto;
    /* Maintain the aspect ratio of the image */
    display: block;
    /* Remove any default inline spacing */
    margin-right: 160px;
    margin-top: 30px;
    /* Adjust the value to lower the image */
    margin-bottom: 20px;
}

/*Button Styling*/

/* Styles for the normal state */
.button {
    display: inline-block;
    padding: 7px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    transition: all 0.3s ease;
    /* Adding a smooth transition effect */
    margin-right: 160px;
    margin-bottom: 10px;
}

/* Styles for the hover state */
.button:hover {
    color: black;
    border-color: black;
    background-color: white;
}