@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* Playfair Display Regular 400 */


body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    /*font-family: 'Playfair Display', serif;*/
}